<?xml version="1.0" encoding="UTF-8"?>
	
<launch>
	<!-- HANDS PARAMS -->
	<arg name="mia_dev"			default="/dev/ttyUSB0"/>
	<arg name="azzurra_dev"		default="/dev/ttyUSB1"/>

	<node name="mia_hand_node" pkg="mia_hand_driver" type="mia_hand_node" args=''>
	    <param name="port" value="$(arg mia_dev)"/>
	</node>
	<node name="azzurra_hand_node" pkg="ih2_azzurra" type="ih2_azzurra_node" args=''>
	    <param name="port" value="$(arg azzurra_dev)"/>
	</node>
	<node name="udp_mia" pkg="udp_controller" type="UDP_Mia.py" args=''/>
	<node name="udp_azzurra" pkg="udp_controller" type="UDP_Azzurra.py" args=''/>

</launch>
