<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<arg name="mia_dev"           default="/dev/ttyUSB0"/>
	<node name="mia_hand_node" pkg="mia_hand_driver" type="mia_hand_node" args='' output='screen'>
	    <param name="port" value="$(arg mia_dev)"/>
	</node>
	<node name="mia_hand_wrapper" pkg="exos2hand" type="exos2mia.py" args=''/>
	<!--node name="mia_udp_com" pkg="udp_controller" type="UDP_Mia.py" args=''/-->
</launch> 
