<launch>
    <!-- Pointcloud to laser scan  -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan1">
      <remap from="cloud_in" to="/obstacles_cloud_1"/>
      <remap from="scan" to="/camera1/scan" />
      <rosparam>
        target_frame: camera1_link
        transform_tolerance: 0.01
        min_height: -0.15
        max_height: 1.5
        
        angle_min: -1.5708
        angle_max: 1.5708
        angle_increment: 0.0087
        scan_time: 0.3333
        range_min: 0.15
        range_max: 4.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 0
      </rosparam>
    </node>
    
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan2">
      <remap from="cloud_in" to="/obstacles_cloud_2"/>
      <remap from="scan" to="/camera2/scan" />
      <rosparam>
        target_frame: camera2_link
        transform_tolerance: 0.01
        min_height: -0.15
        max_height: 1.5
        
        angle_min: -1.5708
        angle_max: 1.5708
        angle_increment: 0.0087
        scan_time: 0.3333
        range_min: 0.15
        range_max: 4.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 0
      </rosparam>
    </node>

    <!-- move base  -->
     <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
        <param name="base_global_planner" value="navfn/NavfnROS"/>
        <remap from="cmd_vel" to="/cmd_vel_auto"/>
        <remap from="map" to="/map"/>
        <param name="controller_frequency" 	 value="8" />
    	<rosparam file="$(find navigator)/launch/config/costmap_common_params_2d.yaml" command="load" ns="global_costmap"/>
     	<rosparam file="$(find navigator)/launch/config/costmap_common_params_2d.yaml" command="load" ns="local_costmap" />
    	<rosparam file="$(find navigator)/launch/config/local_costmap_params.yaml" command="load" ns="local_costmap" />
    	<rosparam file="$(find navigator)/launch/config/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    	<rosparam file="$(find navigator)/launch/config/base_local_planner_params.yaml" command="load" />
     </node>
</launch>
