<?xml version="1.0" encoding="UTF-8"?>

<launch>
	 <node pkg="nodelet" type="nodelet" name="obstacles_detection" args="load rtabmap_ros/obstacles_detection obstacles_manager">
	    <remap from="cloud" to="/rtabmap/octomap_occupied_space"/>
		<remap from="ground" to="/cacca"/>

		<param name="frame_id" type="string" value="base_link"/>		
		<param name="wait_for_transform" type="bool" value="true"/>
		<param name="min_cluster_size" type="int" value="20"/>
		<param name="max_obstacles_height" type="double" value="0.0"/>
      </node>

</launch>
