<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<arg name="use_local_joy" 		default="false"/>

	<include file="$(find joystick_to_twist)/launch/joy_launcher.launch">
		<arg name="local_joy" value="$(arg use_local_joy)"/>
	</include>	
	<node name="udp_sender" pkg="udp_controller" type="UDP_Sender.py" args='' />
	<node name="state_machine" pkg="state_machine" type="main_sm.py" args='' output="screen">
		<param name="local_joy"		  value="$(arg use_local_joy)" />
	</node>
</launch> 
