<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="use_mag" default = "false"/>
    <arg name="publish_tf" default = "false" />
    <arg name="world_frame" default = "enu" />

<!--  IMU FILTER FOR CAMERA 1 -->
	<node name="imu_filter1" pkg="imu_filter_madgwick" type="imu_filter_node" args='' >
	     <param name="use_mag" value="$(arg use_mag)" />
	     <param name="publish_tf" value="$(arg publish_tf)" />
	     <param name="world_frame" value="$(arg world_frame)" />
	  <!--  remapping topics -->
      <remap from="/imu/data_raw"     	to="/camera1/imu"/>
   	  <remap from="/imu/data" 			to="/rtabmap1/imu"/>
	</node>
</launch>
