<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="rtabmap_args" 		default = "--delete_db_on_start --Optimizer/GravitySigma 0.3" />
    <arg name="wait_imu_to_init" 	default = "true">
    <arg name="approx_sync" 		default = "false" />
    <arg name="camera_info_topic" 	default = "/camera/color/camera_info" />
    <arg name="rgb_topic" 			default = "/camera/color/image_raw" />
    <arg name="depth_topic" 		default = "/camera/aligned_depth_to_color/image_raw" />
    <arg name="imu_topic" 			default = "/rtabmap/imu" >
    <arg name="rtabmapviz"          default="false" /> 
    <arg name="rviz"                default="true" />


	<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
	     <arg name="rtabmap_args" 		value="$(arg rtabmap_args)" />
	     <arg name="wait_imu_to_init" 	value="$(arg wait_imu_to_init)" >
	     <arg name="approx_sync" 		value="$(arg approx_sync)" />
	     <arg name="camera_info_topic" 	value="$(arg camera_info_topic)" />
	     <arg name="rgb_topic" 		value="$(arg rgb_topic)" />
	     <arg name="depth_topic" 		value="$(arg depth_topic)" />
	     <arg name="imu_topic" 		value="$(arg imu_topic)" >
	     <arg name="rtabmapviz" 		value="$(arg rtabmapviz)" />
	     <arg name="rviz" 			value="$(arg rviz)" />


	</include>

</launch>
