<launch>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
    
      <param name="frequency" value="50"/>  
      <!-- <param name="sensor_timeout" value="0.2"/>  -->
      <param name="two_d_mode" value="true"/>
      
      <param name="publish_tf" value="false"/>

      <!-- <param name="map_frame" value="map"/> # we don't have it -->
      <param name="odom_frame" value="odom"/>
      <param name="base_link_frame" value="base_link"/>
      <param name="world_frame" value="odom"/> <!-- set the odom frame as world -->
      

      <param name="odom0" value="/robot_odom_wheels"/> <!-- pass the topic who is passing the data -->
      <param name="odom1" value="/rtabmap/odom"/>
      <param name="imu0" value="/camera0/imu"/> 
      <param name="imu1" value="/camera1/imu"/> 

      <!-- which information of these sensors we're going to use:
      X,        Y,      Z,
      roll,     pitch,  yaw,
      X/dt,     Y/dt,   Z/dt,
      roll/dt,  pitch/dt,yaw/dt,
      X/dt2,    Y/dt2,  Z/dt2 -->

      <rosparam param="odom0_config">[false, false, false, 
                                      false, false, false, 
                                      true,  true,  false, <!-- we choose velocities because                                           
                                                                positions are derived from them -->
                                      false, false, true, 
                                      false, false, false]</rosparam>
                                      
      <rosparam param="odom1_config">[true,  true,  false, 
                                      false, false,  true, 
                                      false, false, false,
                                      false, false, false, 
                                      false, false, false]</rosparam>

      <rosparam param="imu0_config">[false, false, false, 
                                     false, false, false,
                                     false, false, false, 
                                     false, true,  false,
                                     false, false, false]</rosparam>

      <rosparam param="imu1_config">[false, false, false, 
                                     false, false, false,
                                     false, false, false, 
                                     false, true,  false,
                                     false, false, false]</rosparam>
                                     
      <param name="odom0_queue_size"        value="3"/>
      <param name="odom1_queue_size"        value="3"/>
      <param name="imu0_queue_size"         value="3"/>
      <param name="imu1_queue_size"         value="3"/>

      <!-- <param name="imu0_differential" value="true"/> -->
      <!-- <param name="imu1_differential" value="true"/> -->

      <param name="imu0_remove_gravitational_acceleration"  value="true"/>
      <param name="imu1_remove_gravitational_acceleration"  value="true"/>
      
      <param name="odom0_twist_rejection_threshold"         value="0.5"/>
      <param name="imu1_twist_rejection_threshold"          value="0.5"/>
      <param name="imu0_twist_rejection_threshold"          value="0.5"/>
      <param name="odom1_pose_rejection_threshold"          value="0.5"/>
      
      
      <!--  <rosparam param="process_noise_covariance">[LARGE ARRAY with small values]</rosparam> -->

      <!--  <rosparam param="initial_estimate_covariance">[LARGE ARRAY with 1e-9]</rosparam> -->

    </node>

</launch>
