<?xml version="1.0" encoding="UTF-8"?>

<launch>	
  <group ns="camera1">
    <!-- for the planner -->
    <node pkg="nodelet" type="nodelet" name="nodelet_camera1" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="points_xyz_planner" args="load rtabmap_ros/point_cloud_xyz nodelet_camera1">
      <remap from="depth/image"            to="/camera1/aligned_depth_to_color/image_raw"/>
      <remap from="depth/camera_info"      to="/camera1/depth/camera_info"/>
      <remap from="cloud"                  to="cloudXYZ_1" />
      <param name="decimation" type="int" value="4"/>                    
      <param name="max_depth"  type="double" value="10.0"/>
      <param name="voxel_size" type="double" value="0.07"/>
    </node>
  
    <node pkg="nodelet" type="nodelet" name="obstacles_detection" args="load rtabmap_ros/obstacles_detection nodelet_camera1">
      <remap from="cloud" to="cloudXYZ_1"/>
      <remap from="obstacles" to="/obstacles_cloud_1"/>
      <remap from="ground"    to="/ground_cloud_1"/>

      <param name="frame_id"             type="string" value="camera1_link"/>		
      <param name="map_frame_id"         type="string" value="map"/>
      <param name="wait_for_transform"   type="bool" value="true"/>
      <param name="Grid/MinClusterSize"     type="int" value="10"/>
      <param name="Grid/MaxObstacleHeight" type="double" value="0.5"/>
    </node>  
  </group>
  
  <group ns="camera2">
    <!-- for the planner -->
    <node pkg="nodelet" type="nodelet" name="nodelet_camera2" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="points_xyz_planner" args="load rtabmap_ros/point_cloud_xyz nodelet_camera2">
      <remap from="depth/image"            to="/camera2/aligned_depth_to_color/image_raw"/>
      <remap from="depth/camera_info"      to="/camera2/depth/camera_info"/>
      <remap from="cloud"                  to="cloudXYZ_2" />
      <param name="decimation" type="int" value="4"/>
      <param name="max_depth"  type="double" value="10.0"/>
      <param name="voxel_size" type="double" value="0.07"/>
    </node>
  
    <node pkg="nodelet" type="nodelet" name="obstacles_detection" args="load rtabmap_ros/obstacles_detection nodelet_camera2">
      <remap from="cloud" to="cloudXYZ_2"/>
      <remap from="obstacles" to="/obstacles_cloud_2"/>
      <remap from="ground"    to="/ground_cloud_2"/>

      <param name="frame_id"             type="string" value="camera2_link"/>		
      <param name="map_frame_id"         type="string" value="map"/>
      <param name="wait_for_transform"   type="bool" value="true"/>
      <param name="Grid/MinClusterSize"     type="int" value="10"/>
      <param name="Grid/MaxObstacleHeight" type="double" value="0.5"/>
    </node>  
  </group>
</launch>
